body {
    transition: background 10s ease;
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    position: relative;
}

header {
    background: linear-gradient(to bottom, #D2691E, #A6ACAF);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* Set a higher z-index for the header */
}

.logo-container {
    margin-right: auto;
}

.logo {
    width: 120px;
}

.header-title {
    color: black;
}

.time-box {
    text-align: center;
    margin-left: auto;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; /* Set text color to white */
}

.time-text {
    color: #fff;
}

footer {
    background: linear-gradient(to bottom, #333333, #000000);
    padding: 20px;
    text-align: center;
    margin-top: auto;
    z-index: 1; /* Set a lower z-index for the footer */
}

.footer-text {
    color: white;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-icons img {
    width: 20px;
}

/* Add these styles for stars */

.star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    animation: fadeInOut 1s ease-in-out forwards;
    z-index: 0; /* Set a lower z-index for the stars */
}

.star.large {
    width: 15px;
    height: 15px;
    animation-duration: 4s;
}

.star.medium {
    width: 10px;
    height: 10px;
    animation-duration: 3s;
}

.star.small {
    width: 5px;
    height: 5px;
    animation-duration: 2s;
}

.star-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1; /* Set a lower z-index for the star container */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
